<div class="dark-matter">
	<h1>Agenda de contatos</h1>

	<ul style="height: 200px;">
		<li style="height: 50px;"><%= link_to 'Tipos', kinds_path, class: 'button' %> </li>
		<li style="height: 50px;" ><%= link_to 'Contatos', contacts_path, class: 'button' %> </li>
	</ul>
</div>
